{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    <div class="row">
        <div class="col-md-12"><h2>Pruebas rr</h2></div>
    </div>
    <hr />
{% endblock %}

{% block main %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
