{% extends 'base.html.twig' %}

{% block pageTitle %}
	<div class="row">
        <div class="col-md-12">
         <h2>Admin Dashboard</h2><h5>Welcome Jhon Deo , Love to see you back. </h5></div>
    </div>
    <hr />
{% endblock %}

{% block main %}
	<div class="row">
	    <div class="col-md-3 col-sm-6 col-xs-6">
	    	<h1>hola</h1>
	    </div>
	</div>
{% endblock %}