{% extends '::base.html.twig' %}

{% block pageTitle %}Staffs{% endblock %}

{% block main %}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('staff') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
