{% extends 'base.html.twig' %}

{% block pageTitle %}Services{% endblock %}
    
{% block main %}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

